<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Single Product Page</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Product Area Starts ***** -->
<section class="section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-images">
                    <img src="{{product.url}}" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>{{product.productName}}</h4>
                    <span class="price">${{product.price}}</span>
                    <ul class="stars">
                        {{#times product.rating}}
                        <li><i class="fa fa-star"></i></li>
                        {{/times}}
                    </ul>
                    <span>{{product.description}}</span>
                    <div class="quote">
                        <p style="font-size:1.25rem"><b>Category: </b></p>
                        <p>{{product.category}}</p>
                        <p style="font-size:1.25rem"><b>Manufacturer: </b></p>
                        <p>{{product.manufacturer}}</p>
                    </div>
                    <div class="quantity-content">
                        <div class="left-content">
                            <h6>No. of Orders</h6>
                        </div>
                        <div class="right-content">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty"
                                    class="input-text qty text" size="4">
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <h4>Total: ${{product.price}}</h4>
                        <div class="main-border-button"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Product Area Ends ***** -->

<!-- ***** Related Products Area Starts ***** -->
<section class="section" id="related-products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Related Products</h2>
                </div>
                <div class="row">
                    {{#each relatedProducts}}
                    <div class="col-lg-3 col-md-6">
                        <a href="/products/{{this._id}}">
                            <div class="product-item">
                                <div class="product-image">
                                    <img src="{{getImage images 0}}" alt="{{this.name}}">
                                </div>
                                <div class="product-details">
                                    <h5>{{this.name}}</h5>
                                    <span class="price">${{this.price}}</span>
                                    <div class="stars">
                                        {{#times this.rating}}
                                        <i class="fa fa-star"></i>
                                        {{/times}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Related Products Area Ends ***** -->