<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Search Area Starts ***** -->
<section class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="/products" method="GET" class="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Search for products..."
                            value="{{searchQuery}}">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ***** Search Area Ends ***** -->

<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>{{sectionTitle}}</h2>
                    <span>{{sectionDescription}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-lg-4">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                <li><a href="/products/{{this._id}}"><i class="fa fa-eye"></i></a></li>
                                <li><a href="/products/{{this._id}}"><i class="fa fa-star"></i></a></li>
                                <li><a href="/products/{{this._id}}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <img src="{{this.link}}" alt="{{this.name}}">
                    </div>
                    <div class="down-content">
                        <h4>{{this.name}}</h4>
                        <span>{{this.price}}</span>
                        <ul class="stars">
                            {{#times this.rating}}
                            <li><i class="fa fa-star"></i></li>
                            {{/times}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col-lg-12">
        <div class="pagination">
            <ul>
                {{#each pagination}}
                <li class="{{#if this.active}}active{{/if}}">
                    <a href="{{this.link}}">{{this.page}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->

<!-- ***** Pagination Area ***** -->
<div class="pagination">
    {{#if (gt currentPage 1)}}
    <a href="/products?page={{subtract currentPage 1}}&q={{searchQuery}}">Previous</a>
    {{/if}}

    {{#each (range 1 totalPages searchQuery)}}
    <a href="/products?page={{this.i}}&q={{this.query}}"
        class="{{#if (eq ../currentPage this.i)}}active{{/if}}">{{this.i}}
    </a>
    {{/each}}

    {{#if (lt currentPage totalPages)}}
    <a href="/products?page={{add currentPage 1}}&q={{searchQuery}}">Next</a>
    {{/if}}
</div>
<!-- ***** Pagination Area ***** -->